body {
    min-width: 300px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
}

.main-menu > li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.main-menu a {
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
    color: #0088cc;
    border-left: 1px solid #e5e5e5;
}

.main-menu a:hover {
    background: #f5f5f5;
}

.main-menu .sub-menu {
    position: absolute;
    left: 1px;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
}

.main-menu .sub-menu a {
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}