body {
    font-family: "PT Sans", sans-serif;
}

.container {
    width: 300px;
    margin: 10px auto;
}

.block {
    margin-bottom: 10px;
    padding: 10px;
    color: #cc0000;
    background: none;
    border: 2px dashed #cccccc;
}

.column1 {
    float: left;
    width: 120px;
    min-height: 50px;
}