html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    height: 300px;
}

.puzzle {
    width: 300px;
    margin: 0 auto;
    padding-top: 5px;
}

.puzzle div {
    margin-right: 5px;
    margin-bottom: 5px;
}

.block1 {
    float: left;
    width: 70px;
    height: 220px;
    background: #3498db;
}

.block2 {
    float: right;
    width: 220px;
    height: 70px;
    background: #3498db;
}

.block3 {
    width: 70px;
    height: 70px;
    background: #8e44ad;
}

.block4 {
    float: left;
    width: 70px;
    height: 145px;
    background: #e74c3c;
}

.block5 {
    float: right;
    width: 70px;
    height: 145px;
    background: #e74c3c;
}

.block6 {
    float: right;
    width: 70px;
    height: 70px;
    background: #f1c40f;
}

.block7 {
    float: right;
    width: 145px;
    height: 70px;
    background: #2ecc71;
}

.block8 {
    float: left;
    width: 145px;
    height: 70px;
    background: #2ecc71;
}