body {
    font-family: "PT Sans", sans-serif;
}

.container {
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 2px #cccccc;
}

.block {
    width: 80px;
    padding: 10px;
    color: white;
    background: #3498db;
    border: 2px solid #34495e;
}

p {
    background: #ecf0f1;
    border: 2px dotted #bdc3c7;
}

.block1 {
    float: left;
    margin-right: 10px;
}

.block2 {
    float: right;
    margin-left: 10px;
}
img {
    float: left;
    margin-right: 10px;
}