.box {
    width: 300px;
    height: 140px;
    margin: 20px auto;
    box-shadow: 1px 1px 3px #999999;
}

.box1 {
    background-color: #2ecc71;
}

.box2 {
    background-color: #f1c40f;
}

.box3 {
    background-image: linear-gradient(to bottom, #2ecc71, #f1c40f);
}

.block {
    height: 134px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("/assets/course13/cat_cage.png");
}