.box {
    width: 256px;
    height: 192px;
    margin: 20px auto;
    box-shadow: 1px 1px 3px #999999;
}

.block {
    height: 192px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.block1 {
    background-image: url("/assets/course13/cat_purr.gif");
}

.block2 {
    background-image: url("/assets/course13/cat_walk.gif");
}