body {
    padding: 20px;
    font-size: 20px;
    font-family: "Tahoma", sans-serif;
}

.block {
    width: 140px;
    margin: 25px auto;
    padding: 25px 0;
    padding-left: 90px;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #999999;
}

.block1 {
    background: #e74c3c url("/assets/course13/cat_eyes.png") no-repeat 10px 5px;
}

.block2 {
    background: #2980b9 url("/assets/course13/cat_fish.png") no-repeat 10px 5px;
}