body {
    background-image: url("/assets/course70/nyan-cat-bg.png");
}

.rainbow {
    position: absolute;
    top: 105px;
    left: 0;
    width: 205px;
    height: 100px;
    background-image: linear-gradient(#ff4136, #ff851b, #ffdc00, #2ecc40, #7fdbff, #0074d8, #b10dc9);
}

.cat {
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 10;
}