.card {
    margin-bottom: 20px;
    line-height: 1.3;
}

.card-title {
    display: flex;
    margin-top: 0;
    align-items: flex-end;
    flex-wrap: wrap;
}

.card-title span {
}

.card-title-main {
    flex-grow: 1;
}