.input-container {
    display: flex;
    width: 200px;
    margin: 30px 0;
    outline: 2px dashed rgba(0, 128, 0, 0.2);
    outline-offset: 5px;
}

.add-on {
    display: inline-block;
    min-width: 40px;
    min-height: 36px;
    padding: 8px 12px;
    vertical-align: top;
    color: #666666;
    background-color: #eeeeee;
    border: 2px solid #cccccc;
    box-sizing: border-box;
    flex-shrink: 0;
}

.input {
    min-width: 50px;
    padding: 8px 12px;
    border: 2px solid #cccccc;
    flex-grow: 1;
}

.input:not(:first-child) {
    border-left: 0;
}

.input:not(:last-child) {
    border-right: 0;
}

.input-container a {
    margin: 0 10px;
    font-size: 12px;
    line-height: 36px;
    color: #666666;
}