label {
    position: relative;
    cursor: pointer;
}

label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -44px;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #5a5a5a;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ label::before {
    width: 21px;
    height: 10px;
    border-color: #00bad2;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}