label {
    position: relative;
    display: inline-block;
    max-width: 100px;
    word-wrap: break-word;
    cursor: pointer;
}

label::before,
label::after {
    content: "";
    position: absolute;
    display: block;
}

label::before {
    top: 7px;
    left: 108px;
    width: 32px;
    height: 1px;
    border-top: 1px solid #5a5a5a;
}

label::after {
    top: 0px;
    left: 100px;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: solid 2px #5a5a5a;
    border-radius: 50%;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ label::after {
    transform: translateX(32px);
    background-color: #0f9d58;
    border-color: #0f9d58;
}