body {
    padding: 10px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: #333333;
    background: url("bokeh.jpg") no-repeat 50% 0;
}

article {
    height: 200px;
    padding: 20px;
    line-height: 22px;
    background-color: rgba(240, 240, 240, 0.85);
    overflow: auto;
    direction: rtl;
}

p {
    margin-top: 0;
    unicode-bidi: bidi-override;
}