body {
    font-family: "Arial", sans-serif;
    color: #eadec8;
    background: url("road.jpg") no-repeat 50% 0;
}

h1 {
    margin-top: 350px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-shadow: 5px 0px 0px #333333;
}

span {
    position: absolute;
    top: 260px;
    left: 110px;
    font-size: 70px;
}