body {
    font-family: "Arial", sans-serif;
    color: #eadec8;
    background: url("sunrise.jpg") no-repeat 50% 0;
}

h1 {
    margin: 120px 30px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-shadow: 5px 5px 0px #333333;
}

span {
    position: absolute;
    top: 400px;
    left: 110px;
    font-size: 70px;
}