body {
    font-family: "Arial", sans-serif;
    color: #fff3e3;
    background: url("glass.jpg") no-repeat 50% 0;
}

p {
    margin-left: 150px;
    font-size: 50px;
}

p:nth-child(1) {
    margin-top: 150px;
    text-shadow: 2px 2px 8px #333333;
    color: #000000;
}

p:nth-child(2) {
    text-shadow: 2px 2px 8px #ff9900;
}

span {
    position: absolute;
    top: 370px;
    left: 120px;
    font-size: 100px;
}