.room {
    display: flex;
    height: 150px;
    justify-content: center;
}

.room-1 {
    align-items: flex-start;
}

.room-2 {
    align-items: baseline;
}

.rug {
    min-height: auto;
}

.rug p {
    margin: 30px 0;
    text-align: center;
    background-color: rgba(69, 185, 244, 0.25);
}