/*
В Safari и старых версиях Firefox результат
работы псевдоэлементов может не отображаться,
хотя проверки при этом будут работать.
В Chrome отображается и результат, и работают проверки.
*/

p::first-line {
    font-style: italic;
}

p::first-letter {
    float: left;
    margin-right: 5px;
    font-size: 30px;
    line-height: 30px;
    font-family: "Times New Roman", serif;
    color: red;
}