/*
Чтобы строки подсвечивались целиком,
следите за приоритетами селекторов или
можете удалять селекторы после подсветки каждой строки.
*/
ul:nth-last-of-type(2) li {
    background-color: #ff3300;
}

ul li:nth-last-of-type(2) {
    background-color: #339933;
}

ul:nth-last-of-type(2) li:nth-last-of-type(2) {
    background-color: #0099ff;
}