body {
    padding: 20px;
}

.block {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    background: #3a78a1;
}

.block-absolute {
    position: absolute;
    right: 10px;
    bottom: -50px;
    width: 100px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: rgba(255, 0, 0, 0.5);
}