body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.block {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    background: #3a78a1;
}

.block-1 {
    width: 150px;
    height: 200px;
}

.block-absolute {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: #e74c3c;
}