html {
    padding: 0;
}

body {
    margin: 0;
    padding: 20px;
}

.scene {
    position: relative;
    width: 260px;
    height: 260px;
    background: none;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

div {
    display: inline-block;
    background: white;
}


/* горизонтальные элементы */

.h {
    position: absolute;
    width: 50px;
    height: 10px;
}

.h1 {
    left: 20px;
    bottom: 60px;
}

.h2 {
    left: 80px;
    bottom: 80px;
}

.h3 {
    width: 40px;
    right: 20px;
    bottom: 40px;
}


/* вертикальные элементы */

.v {
    position: absolute;
    bottom: 40px;
    width: 10px;
    height: 50px;
}

.v1 {
    left: 20px;
}

.v2 {
    left: 60px;
}

.v3 {
    left: 100px;
}

.v4 {
    right: 110px;
}

.v5 {
    right: 70px;
}

.v6 {
    right: 50px;
}


/* уголки */

.corner-top {
    position: absolute;
    right: 80px;
    bottom: 70px;
    border: 15px solid white;
    border-top-width: 20px;
    border-bottom-width: 0;
    border-top-color: transparent;
    background: none;
}

.corner-bottom {
    position: absolute;
    right: 80px;
    bottom: 50px;
    border: 15px solid transparent;
    border-top-width: 20px;
    border-bottom-width: 0;
    border-top-color: white;
    background: none;
}


/* лого */

.logo {
    position: absolute;
    top: 80px;
    left: 87px;
    width: 64px;
    height: 64px;
    background: url('/assets/course10/logo.png');
}