body {
    padding: 20px;
}

.block {
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: #3a78a1;
}

.block-relative {
    position: relative;
    bottom: -10px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: #3a78a1;
}

.block-shadow {
    background: #cccccc;
}