html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    color: #333333;
    background-color: rgb(42, 113, 113);
}

.outer {
    position: relative;
    display: block;
    max-width: 320px;
    margin: 50px auto 0;
    padding: 20px 0;
    background-color: #ffffff;
    border: 1px solid #888888;
    border-width: 1px 0;
}

.inner {
    position: relative;
    padding: 0px 40px;
    font-style: italic;
    background-color: #ffffff;
}

.inner p {
    margin: 0 0 1.0em;
    font-size: 1.5em;
}

.inner footer {
    display: block;
    text-align: right;
}

.inner footer a {
    text-decoration: none;
    color: #333333;
}

.inner {
    margin: 0 -20px;
}

.inner::before,
.inner::after,
.outer::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    border: 20px solid #000000;
    border-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

.inner::before {
    bottom: -60px;
    left: -40px;
    clip: rect(auto, auto, 40px, 40px);
}

.inner::after {
    right: -40px;
    bottom: -60px;
    clip: rect(auto, 40px, 40px, auto);
}

.outer::before {
    top: -40px;
    left: -60px;
    clip: rect(40px, auto, auto, 40px);
}

.outer::after {
    content: "";
    position: absolute;
    top: -40px;
    right: -60px;
    z-index: 1;
    width: 80px;
    height: 80px;
    border: 20px solid #000000;
    border-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    clip: rect(40px, 40px, auto, auto);
}