html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.map {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 50px auto;
    background: url("map.jpg") no-repeat 50% 50% #ffffff;
    border: 20px solid white;
    box-shadow: 0 0 3px #cccccc;
}

.pin {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 15px;
    height: 15px;
    font-size: 0;
    border: 10px solid #f75850;
    border-radius: 50% 50% 50% 0;
    box-shadow: -2px 2px 2px 0 #aaaaaa;
    transform: rotate(-45deg);
}